<div class="container tickets-page">
  <h1>🧾 Mis Compras</h1>
  
  <div id="tickets-list"></div>
  
  <div class="tickets-actions">
    <a href="/my-cart" class="btn btn-primary">🛒 Ir al carrito</a>
    <a href="/products" class="btn btn-secondary">⬅ Ver productos</a>
  </div>
</div>

<script src="/js/tickets.js"></script>
